# Entorno virtual
venv/
env/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno
.env

# Archivos de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Backups locales
backups/

# Base de datos
*.sqlite
*.db 